.row-fluid
  .span12.json
    %h3
      #{link_to result.heading, url_for(:resource, :index, :id => result.id)}
      %small (#{result._score})
    = partial 'item', :object => Resource.normalize(result.to_hash)