%hr{:style => 'margin: 9px 0;'}

.row-fluid
  .span12
    %h3
      #{link_to result.heading, url_for(:resource, :index, :id => result.id)}
      %small (#{result._score})

.row-fluid
  .span2
    %a{:href => url_for(:resource, :index, :id => result.id)}
      %img{:src => url_for(:image, :index, :id => result.id)}

  .span10
    = partial 'item', :object => Resource.normalize(result.to_hash)