- @title = "Ladder"

.container
  .hero-unit.span6.offset2
    %h1.page-header Welcome to Ladder
    %h3 What is Ladder?
    %p Oh it's just the bee's knees.
    %h3 What does it do?
    %p Everything awesome.
