@media all and (max-width: 480px)  {
    .half {
        float: left !important;
    }
}

.half {
    max-width: 60px;
}

h4 {
    margin-top: 0px;
}

h2.page-header {
    margin-top: 0px;
}

.hero-unit {
    background-color: #efefef;
    padding: 30px;
}

.hero-unit h1 {
    color: #28529B;
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
}

.hero-unit h1,
a.brand {
    font-variant:small-caps;
}

p.lead {
    font-size: 1.4em;
}

.logo, .search {
    text-align: center;
}

.input-xxlarge {
    width: 330px;
}

.search {
    margin-top: 20px;
}

.nav li.nav-header a {
    margin-top: -6px;
}

.nav-list > .active > a {
    opacity: 0.75;
}

.nav-list > .active > a:hover {
    opacity: 1;
}

.nav-list li a {
    /* FIXME: this is like a nav-pill? */
    margin: auto;
    padding-left: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav-list li:nth-last-child(odd):not(.active) a {
    background-color: #f9f9f9;
}

.nav-list li:nth-last-child(odd):not(.active) a:hover {
    background-color: #e5e5e5;
}

.media {
    margin-top: 5px;
}

pre.accordion-body.collapse code {
    background-color: #F4F4F4;
}