#search_form {
    width: 60%;
    margin: 0 auto;
}

.nav-list > .active > a {
    opacity: 0.75;
}

.nav-list > .active > a:hover {
    opacity: 1;
}

.nav-list li a {
    # FIXME: this is like a nav-pill?
    margin: auto;
    padding-left: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav-list li a.thumbnail img.pull-left {
    margin-right: 9px;
}

.nav-list li:nth-last-child(odd):not(.active) a {
    background-color: #f9f9f9;
}

.nav-list li:nth-last-child(odd):not(.active) a:hover {
    background-color: #e5e5e5;
}

pre.accordion-body.collapse code {
    background-color: #F4F4F4;
}