!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title= @title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'github.css', 'bootstrap.min.css'
    = javascript_include_tag 'highlight.pack.js', 'bootstrap,min.js'
    <script>hljs.initHighlightingOnLoad();</script>
  %body
