- item = result.normalize({:ids => :resolve})
- desc = []
- desc.push item[:dcterms][:format].first.capitalize rescue nil
- desc.push item[:dcterms][:issued].first rescue nil
- desc.push ISO_639.find(item[:dcterms][:language].first).english_name.capitalize rescue nil

%a{:href => url_for(:resource, :index, :id => result.id)}
  %h4= result.heading.first.truncate(100, :separator => ' ').humanize

- if item[:dcterms][:creator] then agents = item[:dcterms][:creator]
- elsif item[:dcterms][:contributor] then agents = item[:dcterms][:contributor]
- elsif item[:dcterms][:publisher] then agents = item[:dcterms][:publisher]

- if agents
  - agents = agents.take(3).map do |value|
    - if value.is_a? Hash
      - heading = value.keys.first.to_s.classify.constantize.find(value.values.first).heading
      - link_to(heading.first, url_for(value.keys.first, :index, :id => value.values.first))
- else agents = []

.description #{[agents + desc].join('; ')}