- @title = "Server Error"

.container
  .span2.hidden-phone
    %img{:src => url_for('img/ladder.png')}

  .span7
    .hero-unit.well
      %h1.page-header
        500
        %small{:style => 'display: block;'} Server Error
      %br
      %p.lead
        Sorry, something technical went wrong.  It happens.
      %p.lead
        We've dispatched the nerds, so please wait a few
        minutes and try again.
