- desc = []
- if ignore_nil {concept[:resource_ids].size > 3}
  - desc.push "#{concept[:resource_ids].size} #{I18n.t('search.resources')}"

.description= desc.compact.join('; ')

- if concept[:resource_ids]
  .media
    - Resource.find(concept[:resource_ids].take(3)).each do |resource|
      %a.thumbnail.pull-right{:href => url_for(:resource, :id => resource.id), :style => 'margin-left: 9px; min-width: 60px;'}
        = partial 'image', :object => resource
  .clearfix