%table.table.table-bordered.table-striped.table-condensed
  - item.each do |vocab, fields|
    - next if fields.empty?
    %tr
      %th{:colspan => 2, :style => 'text-transform: uppercase; background: #c8e4f8;'}
        = vocab
    - fields.each do |name, value|
      %tr
        %td.span2{:style => 'text-transform: capitalize;'}= name
        %td= value.join('<br/>')