%li
  - if self_id == tree.id
    %a{:style => 'font-weight: bold;'}= tree.id
  - else
    %a{:href => url_for(:resource, :index, :id => tree.id)}= tree.id

  - if tree.children.size > 0
    %ul= partial 'tree', :collection => tree.children, :locals => {:self_id => self_id}
