- @title = "About Ladder"

.container
  .hero-unit.well.span6.offset2
    %h3 What is Ladder?
    %p
      A revolutionary way to aggregate, enhance, and integrate your metadata, Ladder unites collections
      of any size into Linked Data and the Semantic Web. Designed to meet the needs of libraries, archives,
      and museums, Ladder enables comprehensive description and discovery for the next generation of
      information specialists.

      To get in touch,
      %a{:href => 'mailto:info@deliberatedata.com'} send us an email
      !

    %p.span1.pull-right
      %a{:href => 'http://deliberatedata.com'}
        %img{:src => url_for('img/dD.png'), :style => 'max-width: 50px !important; float: right !important;'}
    %br