- @title = "Sur Ladder"

.container
  .hero-unit.well.span6.offset2
    %h3 Qu'est-ce que Ladder?
    %p
      Une façon révolutionnaire de granulats, d'améliorer et d'intégrer vos métadonnées, Ladder unit collections
      de n'importe quelle taille en Linked Data et le Web sémantique. Conçu pour répondre aux besoins des
      bibliothèques, des archives, et les musées, Ladder permet une description complète et de découverte pour
      la prochaine génération de spécialistes de l'information.

      Pour nous contacter,
      %a{:href => 'mailto:info@deliberatedata.com'} envoyez-nous un email
      !

    %p.span1.pull-right
      %a{:href => 'http://deliberatedata.com'}
        %img{:src => url_for('img/dD.png'), :style => 'max-width: 50px !important; float: right !important;'}
    %br