- @title = "Sur MyTPL"

.container
  .hero-unit.well.span6.offset2
    %h3 Qu'est-ce que MyTPL?
    %p
      MyTPL est le site de démonstration en live pour un type révolutionnaire de
      système de gestion de l'information. Il vous permet de rechercher, parcourir et
      trouver leurs articles dans les collections de la
      %a{:href => 'http://tpl.ca'} Bibliothèque publique de Toronto

    %h3 Est-TPL impliqué?
    %p
      Non, MyTPL n'est pas officiellement affilié avec TPL. Nous sommes juste des
      bibliothécaires qui aiment faire des bibliothèques plus facile à utiliser.
      Pour nous contacter,
      %a{:href => 'mailto:info@deliberatedata.com'} envoyez-nous un email

    %p.span1.pull-right
      %a{:href => 'http://deliberatedata.com'}
        %img{:src => url_for('img/dD.png'), :style => 'max-width: 50px !important; float: right !important;'}
    %br