- @title = "Ladder"

.container
  .hero-unit.well.span6.offset2
    .logo{:style => 'width: 20%; margin: auto;'}
      %img{:src => url_for('images/logo.png')}

    %h2{:style => 'text-align: center;'}= @title

    .search
      - form_tag '/search', :method => 'get', :class => 'form-search' do
        = text_field_tag :q, :class => 'input-xxlarge search-query', :value => @querystring, :autofocus => true
        %button{:type => 'submit', :class => 'btn'} Search

    %hr

    .span1{:style => 'margin-left: 0;'} Examples
    .span5
      %a.btn.mini-btn{:href => 'search/*?fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Film&fi%5Bdcterms%5D%5Blanguage%5D%5B%5D=fre'} French films
      %a.btn.mini-btn{:href => 'search/rock?fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Album'} Rock albums
      %a.btn.mini-btn{:href => 'search/communist?page=1&fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Country'} Communist countries
      %a.btn.mini-btn{:href => 'search/idaho?fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=City'} Cities in Idaho
      %a.btn.mini-btn{:href => 'search/orchestra?page=1&fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Band'} Orchestras
      %a.btn.mini-btn{:href => 'search/chinese?fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Actor'} Chinese actors
      %a.btn.mini-btn{:href => 'search/activist?page=1&fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=MusicalArtist'} Activist musicians
      %a.btn.mini-btn{:href => 'search/award?&fi%5Brdf_types%5D%5Brdf_types%5D%5B%5D=Comedian'} Award-winning comedians
