- @title = "Ladder"

.container
  .hero-unit.well.span6.offset2
    .logo{:style => 'width: 30%; margin: auto;'}
      %img{:src => url_for('img/logo.png')}

    %h2{:style => 'text-align: center;'}= @title

    .search
      - form_tag '/search', :method => 'get', :class => 'form-search' do
        = text_field_tag :q, :class => 'input-xxlarge search-query', :value => @querystring, :autofocus => true
        %button{:type => 'submit', :class => 'btn'} Search